streamlit
pandas
numpy
joblib
matplotlib
shap
scikit-learn
openpyxl
altair
seaborn
fpdf
plotly
xgboost
folium
streamlit-folium
scipy
bcrypt
python-dotenv
requests
jpholiday
catboost
